.fancy-dropdown-wrapper {
  position: relative;
}
.fancy-dropdown-wrapper.disabled {
  pointer-events: none;
}
.fancy-dropdown-wrapper.disabled .fancy-dropdown input {
  color: gray;
}
.fancy-dropdown-wrapper input.fancy-dropdown {
  appearance: none;
  padding: 5px 5px 5px 14px;
  border: 1px solid #f3f3f3;
  border-right-width: 30px;
  border-radius: 4px;
  background: white;
  width: 150px;
  cursor: pointer;
  outline: 0;
  position: relative;
}
.fancy-dropdown-wrapper input.fancy-dropdown::after {
  content: "";
  width: 30px;
  height: 36px;
  position: absolute;
  right: 0;
  border-radius: 0 4px 4px 0;
  background-image: url("../images/angle-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}
.fancy-dropdown-wrapper input.fancy-dropdown.open::after {
  transform: rotate(180deg);
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options {
  width: 250px;
  display: none;
  position: absolute;
  top: 35px;
  background: white;
  box-shadow: 0 2px 13px 0 rgba(235, 235, 235, 0.5);
  padding: 0;
  border: 1px solid #efefef;
  border-radius: 4px;
  z-index: 300;
  max-height: 300px;
  overflow-y: auto;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options.show {
  display: block;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list {
  margin: 0;
  padding: 0;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item {
  list-style: none;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item:last-of-type {
  display: flex;
  flex-direction: column;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item:last-of-type .field-wrapper {
  display: flex;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.hidden {
  display: none;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.option-custom {
  padding: 10px 16px;
  position: relative;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.option-custom .custom-value-label {
  font-size: 13px;
  color: black;
  margin-bottom: 2px;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.option-custom .field-wrapper {
  position: relative;
  height: 40px;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.option-custom .field-wrapper .custom-value-field {
  border: 1px solid #e6e6e6;
  border-radius: 4px 0 0 4px;
  background-color: #fff;
  padding: 6px 10px;
  outline: 0;
  height: 100%;
  border-right: 0;
  -moz-appearance: textfield;
  width: calc(100% - 55px);
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.option-custom .field-wrapper .custom-value-field::-webkit-outer-spin-button, .fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.option-custom .field-wrapper .custom-value-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item.option-custom .field-wrapper .custom-value-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  color: white;
  background: lightgreen;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid lightgreen;
  position: absolute;
  right: 0;
  height: 100%;
  width: 55px;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item .option-item {
  display: flex;
  padding: 10px 16px;
  color: black;
  cursor: pointer;
  border-bottom: 1px solid #ececec;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item .option-item a {
  color: #dfdfe1;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item .option-item .star-icon {
  margin-right: 20px;
  position: relative;
  top: 2px;
  pointer-events: none;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item .option-item .star-icon.checked {
  color: #f9b62f;
}
.fancy-dropdown-wrapper input.fancy-dropdown + .fancy-dropdown-options ul.options-list li.option-item .option-item:hover {
  background: #f7f7f7;
  text-decoration: none;
}
